<div class="header" ng-controller="HeaderCtrl" style="background-color: #a1e781;">

  <nav class="navbar navbar-light" role="navigation">
    <div class="container">
          <a class="navbar-brand" href="#">
            <p class="title align">Aula Virtual</p>
          </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav navbar-right">
          
          <li ng-if="user.role_id == 1" ng-class="{'nav-active': '/admin/users' == activeURL }" ng-click="linkMenu('/admin/users')">
            <a href="#" class="nav-link">Usuarios</a>
          </li>

          <li ng-if="user.role_id == 1" ng-class="{'nav-active': '/admin/categories' == activeURL }" ng-click="linkMenu('/admin/categories')">
            <a href="#" class="nav-link">Categor&iacute;as</a>
          </li>

          <li ng-if="user.role_id == 2" ng-class="{'nav-active': '/misCatedras' == activeURL || '/misCatedras/crearCatedra' == activeURL }" ng-click="linkMenu('/misCatedras')">
            <a href="#" class="nav-link">Mis Catedras</a>
          </li>

          <li ng-if="user.role_id == 3" ng-class="{'nav-active': '/misCursos' == activeURL}" ng-click="linkMenu('/misCursos')">
            <a href="#" class="nav-link">Mis Cursos</a>
          </li>
          
          <li ng-show="authToken.show" ng-class="{'nav-active': '/logout' == activeURL}" ng-click="linkMenu('/logout')">
            <a href="#" class="nav-link">
              <span class="glyphicon glyphicon-log-out"></span> LogOut
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>